body {
	text-align: center;
	margin:50px 200px;
	font-family: "century gothic";
}

h1 {
	color:#FFFFFF;
	background:#FA8072;
}	

h2 {
	color:#3CB371;
}

img {
	width:200px;
	transition:.5s all;
}

img:hover {
	width:400px;#FA8072
}

a {
	color:#FFD700;
}

a:hover {
	color:#FA8072;
}

footer {
	font-size:14px;
}