body {
	text-align: center;
	margin:100px;
	font-family: "century gothic";
}

h1 {
	color:#FFFFFF;
	background: #000000;
	border:2px solid black;
}	

h2 {
	color:#3CB371;
}

img {
	width:200px;
	transition:.5s all;
}

img:hover {
	width:400px;
}

a {
	color:#FA8072;
}

a:hover {
	color:#FFD700;
}

footer {
	font-size:14px;
}